# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
GNL_lover-master/.DS_Store
GNL_lover-master/get_next_line
GNL_lover-master/GNL_lover.sh
GNL_lover-master/Makefile
GNL_lover-master/README.md
GNL_lover-master/copy_in_here_GNL_files/.DS_Store
GNL_lover-master/copy_in_here_GNL_files/get_next_line_utils.c
GNL_lover-master/copy_in_here_GNL_files/get_next_line.c
GNL_lover-master/copy_in_here_GNL_files/get_next_line.h
GNL_lover-master/copy_in_here_GNL_files/GNL_TESTS_BONUS.c
GNL_lover-master/copy_in_here_GNL_files/GNL_TESTS.c
GNL_lover-master/copy_in_here_GNL_files/GNL_TESTS.h
GNL_lover-master/mains/main_dev_null.c
GNL_lover-master/mains/main_INPUTS_WRONG.c
GNL_lover-master/mains/main_multy_fd.c
GNL_lover-master/mains/main_no_end_of_line_at_end.c
GNL_lover-master/mains/main_STDIN_FILENO.c
GNL_lover-master/mains/main.c
GNL_lover-master/manual_correction_sandbox/GNL_TESTS.c
GNL_lover-master/manual_correction_sandbox/GNL_TESTS.h
GNL_lover-master/manual_correction_sandbox/main_replace_malloc_with_fake_malloc.c
GNL_lover-master/manual_correction_sandbox/main.c
GNL_lover-master/manual_correction_sandbox/README.txt
GNL_lover-master/test_files_GNL/script_test_files_building.sh
GNL_lover-master/test_files_GNL/shaky_cat
GNL_lover-master/test_files_GNL/test_file1
GNL_lover-master/test_files_GNL/test_file2
GNL_lover-master/test_files_GNL/test_file3
GNL_lover-master/test_files_GNL/test_file4
GNL_lover-master/test_files_GNL/test_file5
GNL_lover-master/test_files_GNL/test_file6
GNL_lover-master/test_files_GNL/test_file7
GNL_lover-master/test_files_GNL/test_file8
GNL_lover-master/test_files_GNL/test_file9
GNL_lover-master/test_files_GNL/test_file10
GNL_lover-master/test_files_GNL/test_file11
GNL_lover-master/test_files_GNL/test_file12
GNL_lover-master/test_files_GNL/test_file13
GNL_lover-master/test_files_GNL/test_file14
GNL_lover-master/test_files_GNL/test_file15
GNL_lover-master/test_files_GNL/test_file16
GNL_lover-master/test_files_GNL/test_file17
GNL_lover
GNL_over9000tests
gnl-war-machine-v2019 2
huge_file
main_huge.txt
GNL_lover
GNL_over9000tests
gnl-war-machine-v2019 2
